/*{border: 1px solid black}*/
body {
  margin-top:0;
}

.header {
  display:flex;
  align-items:center;
  justify-content:space-between;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  height: 80px;
  background-color: white;
  width:100%;
  z-index:1;
  margin:auto;
  position:fixed;
  top:0px;
}
.logo {
  color:MediumAquamarine;
  display:inline-flex;
  align-items:center;
  padding-left: 20px;
  padding-right: 12px;
}
.logo img{
  padding-right:12px;
}

nav span {
  display:inline-block;
  padding: 20px 10px;
}
.header nav{
  padding-right:40px;
}
a {
  color:black;
}
.main {
  display:flex;
  padding-top:81px;
  justify-content:space-between;
}
.column{
  display:flex;
  flex-direction:column;
  margin-right:32px;
}
.column.large {
  width: 630px;
  display:flex;


}
.column.medium{
  width:300px;
  flex-grow:1;
}
.column.small {
  width:240px;
  flex-grow:1;
}
.wine-story .image-content{
  display:flex;
  height:300px;
  background-image:url("images/img-wine.png");
}
.image-content p {
  display:flex;
  align-items:center;
  justify-content:center;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
#large-font {
  font-size:40px;
}
.fall .image-content {
  display:flex;
  height:300px;
  background-image:url("images/img-fall.png")
}
.camera .image-content {
  display:flex;
  height:300px;
  background-image: url("images/img-hipster.png")
}
.cat .image-content {
  display:flex;
  height:300px;
  background-image: url("images/img-cat.png")
}
.lead-story, .stories {
 font-family: Georgia;
 font-size: 17px;
 color: black;
}
.story {
  display:flex;
  flex-grow:1;
  flex-direction:column;
  min-width:275px;
  padding-right:15px;
}
.stories {
  display:flex;
  justify-content:space-between;
  width:600px;
}
