*{border: 1px solid black}

.header {
  display:flex;
  align-items:center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content:center;
}
.logo {
  color:MediumAquamarine;
  display:inline-flex;
  align-items:center;
}
.logo img{
  padding-right:12px;
}
p {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}
